<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
    <title>Document</title>
    <style>
        li {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }
        
        li img {
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="box">
        <div v-if="datalist.length>0">
            <input type="checkbox" v-model="isAll" @change="handleAllChecked" />全选/全不选
            <!---@click事件触发太早-->
            <ul>
                <li v-for="(item,index) in datalist" :key="item.id">
                    <input type="checkbox" v-model="checkList" :value="item" @change="handleItemChecked" />
                    <img :src="item.pic" />

                    <div>
                        <div>{{item.name}}</div>
                        <div style="color: red;">￥{{item.price}}</div>
                    </div>

                    <div>
                        <button @click="item.number--" :disabled="item.number==1">-</button>
                        <span>{{item.number}}</span>
                        <button @click="item.number++" :disabled="item.number==item.limit">+</button>
                    </div>
                    <div>
                        <button @click="handleDeleteClick(index,item.id)">删除</button>
                    </div>
                </li>
            </ul>

            <div>总金额：{{computedSum}}</div>
            <!--{{sum()}}-->
        </div>
        <div class="none" v-else>空空如也,快去添加商品吧!</div>



        {{checkList}}
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: "#box",
        data() {
            return {
                something: true,
                isAll: false,
                checkList: [], //勾选购物车的数据
                datalist: [{
                    name: "商品1",
                    price: 10,
                    number: 1,
                    id: 1,
                    limit: 5, //限购
                    pic: "https://static.maizuo.com/pc/v5/usr/movie/44dc08914d508fc47c8267c6ca73f2d8.jpg"
                }, {
                    name: "商品2",
                    price: 20,
                    number: 2,
                    id: 2,
                    limit: 10, //限购
                    pic: "https://static.maizuo.com/pc/v5/usr/movie/44dc08914d508fc47c8267c6ca73f2d8.jpg"
                }, {
                    name: "商品3",
                    price: 30,
                    number: 3,
                    id: 3,
                    limit: 15, //限购
                    pic: "https://static.maizuo.com/pc/v5/usr/movie/44dc08914d508fc47c8267c6ca73f2d8.jpg"
                }]
            }
        },
        computed: {
            computedSum() {
                var total = 0
                    //累计计算 checkList 数组的每一项的 价格*数量
                this.checkList.forEach(item => {
                    total += item.price * item.number
                });
                return total
            }
        },
        methods: {
            // sum() {
            //     var total = 0
            //         //累计计算 checkList 数组的每一项的 价格*数量
            //     this.checkList.forEach(item => {
            //         total += item.price * item.number
            //     });
            //     return total
            // },

            handleDeleteClick(index, id) {
                //console.log(index)
                // 删除的是datalist-靠 index
                this.datalist.splice(index, 1)

                // 删除checklist-靠id
                //console.log(id)
                this.checkList = this.checkList.filter(item => item.id !== id)

                //同步一下状态
                this.handleItemChecked()
            },

            //全选
            handleAllChecked() {
                console.log(this.isAll)
                if (this.isAll) {
                    this.checkList = this.datalist
                } else {
                    this.checkList = []
                }
            },

            //每项选择
            handleItemChecked() {
                if (this.checkList.length === this.datalist.length) {
                    console.log("全选")
                    this.isAll = true
                } else {
                    console.log("不全选")
                    this.isAll = false
                }
            }
        },
    })
</script>
<style>
    .none {
        font-size: 30px;
        color: skyblue;
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>

</html>