/* .selector {
    position: relative;
} */

.input {
    position: relative;
    /* top: 0;
    left: 0; */
    width: 35%;
    height: 30px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 14px;
}

.select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.selectFolds {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    height: 120px;
    border: 1px solid gray;
    font-size: 14px;
    z-index: 10;
    background: #fff;
}

.selectChoice {
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-radius: 3px;
}

.contenBox {
    margin-top: 5px;
    width: 400px;
    height: 400px;
    background: red;
    position: relative;
    padding: 4px;
}

.sheet {
    width: 98%;
    height: 98%;
    background: yellow;
    position: absolute;
}

.selectFolds .active {
    background-color: rgb(72, 182, 72);
}