<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="box">
        <input type="text" @input="handleInput" v-model="mytext" />
        <ul>
            <li v-for="data in datalist" :key="data">
                {{data}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#box",
            data: {
                mytext: "",
                datalist: ["aaa", "bbb", "ccc", "dddd", "bbbc", "aaab", "abe"],
                Olddatalist: ["aaa", "bbb", "ccc", "dddd", "bbbc", "aaab", "abe"]
            },
            methods: {
                handleInput() {
                    console.log("input", this.mytext)

                    //es5 filter过滤
                    this.datalist = this.Olddatalist.filter(item => item.includes(this.mytext))

                    //console.log(newlist)
                }
            },
        })


        //filter 过滤方法
        // var arr = ["aaa", "bbb", "ccc", "dddd", "bbbc", "aaab", "abe"]
        // var newlist = arr.filter(item => item.includes("a"))
        // console.log(newlist, arr)
    </script>
</body>

</html>